
   :root {
      --primary-blue: #113a66;
      --dark-bluu: #0b2a4c;
      --primmary-yellow: #f7c820;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    .main-container {
      display: flex;
      min-height: 100vh;
    }
  
    .sidebar {
      width: 270px;
      background-color: var(--primary-blue);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 15px;
      color: #fff;
      
      z-index: 10;
        
      }
    .header-portal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.banner-blue {
  background-color: var(--primary-blue);
  width: 90%;
  height: 60px;
 
}
body {
       background-image: url("../assets/img/UEES.png");
       background-size: cover;
       background-position: center;
    }
    .content-area {
  flex: 1;
  
}