
   :root {
      --primary-blue: #113a66;
      --dark-bluu: #0b2a4c;
      --primmary-yellow: #f7c820;
    }

    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    .main-container {
      display: flex;
      min-height: 100vh;
    }
  
    .sidebar {
      width: 270px;
      background-color: var(--primary-blue);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 15px;
      color: #fff;
      
      z-index: 10;
        
      }
    .header-portal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.banner-blue {
  background-color: var(--primary-blue);
  width: 90%;
  height: 60px;
 
}
body {
       background-image: url("../assets/img/UEES.png");
       background-size: cover;
       background-position: center;
    }
    .content-area {
  flex: 1;
  
}
  .boton-guardar {
  background-color: var(--primmary-yellow);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;

}

.boton-guardar:hover {
  background-color:#a58512;
}

.boton-imprimir {
  background-color: var(--primmary-yellow);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
}

.boton-imprimir:hover {
  background-color:#a58512;
}

.boton-ListarEstudiantes {
  background-color: var(--primmary-yellow);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
}

.boton-ListarEstudiantes:hover {
  background-color:#a58512;
}
.boton-Trasladar {
  background-color: var(--primmary-yellow);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
}

.boton-Trasladar:hover {
  background-color:#a58512;
}

.boton-Exportar {
  background-color: var(--primmary-yellow);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
}

.boton-Exportar:hover {
  background-color:#a58512;
}
.boton-Cerrar-sesion {
  background-color: var(--primmary-yellow);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  
}

.boton-cerrar-sesion:hover {
  background-color:#a58512;
}


.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

/*estilos para index*/
.tarjeta {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  gap: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
    
.btn_inicio{
  text-decoration: none;
  background-color: #f7c820;
  padding: 20px;
  border-radius: 10px;
  color: #113a66;
  transition: background-color 0.2s ease;
}

.btn_inicio:hover{
  background-color:#a58512;
}